* {
    font-family: Lato;
  }
  a{
    text-decoration: none;
  }
  .left1{
    background-color: #C1E7D9;
    height: 300px;
    background-image: url('https://content-prod-live.cert.starbucks.com/binary/v2/asset/137-83504.png');
    background-size: 300px;
    background-position: center;
  }
  .left2{
    background-color: #8ADB9B;
    height: 500px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .textleft2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 230px;
    color: #0A4E01;
  }
  .left3{
    background-color: #EBBECB;
    background-image: url('https://cdn.shopify.com/s/files/1/0073/0929/5674/products/BABitems-511_3811x.jpg?v=1644361765');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
  }
  .right1{
    background-color: #C1E7D9;
    height: 300px;
  }
  .textright1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 130px;
    color: #037A64;
  }
  .right2{
    background-image: url('https://content-prod-live.cert.starbucks.com/binary/v2/asset/137-83265.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #8ADB9B;
    height: 500px;
  }
  .right3{
    background-color: #EBBECB;
    height: 300px;
    
  }
  .textright3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    margin-top: 100px;
    color: #7A036D;
  }